<ng-container *ngIf="load; else preloader">
  <form [formGroup]="gameForm" (ngSubmit)="updateGameAndGenres()">
    name:
    <ng-container *ngIf="isInvalidFormControl(gameFormName)">
      <div class="error-message" *ngIf="gameFormName.errors.required">name is required</div>
    </ng-container>
    <input type="text" formControlName="name" /><br/>
    description:<br/>
    <textarea formControlName="description"></textarea><br/>
    developer:
    <ng-container *ngIf="isInvalidFormControl(gameFormDeveloperId)">
      <div class="error-message" *ngIf="gameFormDeveloperId.errors.required">developer is required</div>
    </ng-container>
    <select formControlName="developerId">
      <option value="" selected></option>
      <option [value]="developer.developerId"
        *ngFor="let developer of developers">{{ developer.name }}</option>
    </select>
    <br/>
    publisher:
    <select formControlName="publisherId">
      <option value="" selected></option>
      <option [value]="publisher.publisherId"
        *ngFor="let publisher of publishers">{{ publisher.name }}</option>
    </select>
    <br/>
    genres: <a class="editor-link" routerLink="/editor/genres">genres editor</a>
    <br/>
    <ng-container *ngFor="let genreControl of gameFormGenres.controls; let i=index">
      <label formArrayName="genres">
        <input type="checkbox" [formControlName]="i" />
        {{ genres[i].name }}
      </label>
      <br/>
    </ng-container>
    <button class="submit-button" [class.submit-button_disabled]="gameForm.invalid" >save</button>
  </form>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
