<h2 class="title">Existing developers</h2>
<ng-container *ngIf="developers | async; else preloader">
  <ul class="developers items-list">
    <li class="item-base developer items-list__item" *ngFor="let developer of developers | async">
      <div class="developer__name item-base__title">{{ developer.name }}</div>
      <a class="text-button text-button_primary item-base__inline-item"
        routerLink="/editor/developers/{{ developer.developerId }}">edit</a>
      <button class="button button_secondary item-base__inline-item"
        *ngIf="!confirm.showing"
        (click)="confirm.toggle()">delete</button>
      <app-confirmation-dialog
        (yes)="deleteDeveloper(developer.developerId)" #confirm></app-confirmation-dialog>
    </li>
  </ul>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
<form class="form" [formGroup]="newDeveloperForm" (ngSubmit)="createDeveloper()">
  <h2 class="form__rirle">New developer</h2>
  <label class="input-base form__row"
    [class.input-base_invalid]="isInvalidFormControl(newDeveloperFormName)">
    <div class="input-base__label input-base__label_required">Name</div>
    <ng-container class="errors" *ngIf="isInvalidFormControl(newDeveloperFormName)">
      <div class="input-base__message" *ngIf="newDeveloperFormName.errors.required">
        name is required
      </div>
    </ng-container>
    <input class="input-base__input" type="text" formControlName="name" />
  </label>
  <button class="button form__row"
    [class.button_disabled]="newDeveloperForm.invalid"
    [class.button_primary]="newDeveloperForm.valid" >create</button>
</form>
