<h2 class="title">Existing developers</h2>
<ng-container *ngIf="load; else preloader">
  <ul class="developers">
    <li class="developer" *ngFor="let developer of developers">
      <div class="developer__name">{{ developer.name }}</div>
      <a class="developer__edit-link"
        routerLink="/editor/developers/{{ developer.developerId }}">edit</a>
      <button class="developer__delete-button"
        *ngIf="!confirm.showing"
        (click)="confirm.toggle()">delete</button>
      <app-confirmation-dialog
        (yes)="deleteDeveloper(developer.developerId)" #confirm></app-confirmation-dialog>
    </li>
  </ul>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
<h2 class="title">New developer</h2>
<form [formGroup]="newDeveloperForm" (ngSubmit)="createDeveloper()">
  name:
  <ng-container class="errors" *ngIf="isInvalidFormControl(newDeveloperFormName)">
    <div class="errors__message" *ngIf="newDeveloperFormName.errors.required">
      name is required
    </div>
  </ng-container>
  <input type="text" formControlName="name" />
  <button class="submit-button"
    [class.submit-button_disabled]="newDeveloperForm.invalid">create</button>
</form>
