.body {

  diaplay: flex;
  margin: 0px;
  font-family: $font-family-default;
  background-color: $color-body;

  &__screen {
    display: block;
    width: 100%;
    min-height: 100vh;
  }

}

.body__item {

  display: flex;

  &_x_center {
    justify-content: center;
  }

  &_x_end {
    justify-content: flex-end;
  }

  &_x_start {
    justify-content: flex-start;
  }

  &_y_center {
    align-items: center;
  }

}
