.text-button {

  display: inline-block;
  text-align: center;
  min-width: 100px;
  background-color: transparent;
  color: $color-black;
  text-decoration: none;
  border: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  font-size:  0.875rem;
  line-height: 1rem;
  font-weight: bold;
  transition: 0.2s background-color, color;
  text-transform: uppercase;

  &:not(&_disabled) {

    cursor: pointer;

  }

  &:hover {

    background-color: rgba(0, 0, 0, 0.08);

  }

  &:active {

    background-color: rgba(0, 0, 0, 0.3);

  }

  &_primary {

    color: $color-blue;

    &:hover {
      background-color: rgba(33, 150, 243, 0.08);
    }

    &:active {
      background-color: #a5cff0;
    }

  }

  &_secondary {

    color: $color-pink;

    &:hover {
      background-color: rgba(225, 0, 80, 0.08);
    }

    &:active {
      background-color: #ea99b5;
    }

  }

  &_disabled {

    color: #b0b0b0;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }

  }
}
