$color-body: #fafafa;
$color-black: #222;

$color-blue: #2196f3;
$color-blue-hovered: #1976d2;
$color-blue-active: #80b2e3;

$color-pink: rgb(225, 0, 80);
$color-pink-hovered: rgb(157, 0, 56);
$color-pink-active: #bb4d74;

$box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),
  0px 2px 2px 0px rgba(0,0,0,0.14),
  0px 3px 1px -2px rgba(0,0,0,0.12);

$box-shadow-activated: 0px 5px 5px -3px rgba(0,0,0,0.2),
  0px 8px 10px 1px rgba(0,0,0,0.14),
  0px 3px 14px 2px rgba(0,0,0,0.12);

$font-family-default: Helvetiva, Arial, sans-serif;
