<ng-container *ngIf="load; else preloader">
  <h2 class="title">Existing genres</h2>
  <div class="items-list">
    <app-genre-editor class="items-list__item"
      *ngFor="let genre of genres"
      [genre]="genre" (del)="loadGenres()"></app-genre-editor>
  </div>
  <form class="form" [formGroup]="newGenreForm" (ngSubmit)="createGenre()">
    <h2 class="form__title form__row">New genre</h2>
    <label class="input-base form__row"
      [class.input-base_invalid]="isInvalidFormControl(newGenreFormName)">
      <div class="input-base__label input-base__label_required">Name</div>
      <ng-container *ngIf="isInvalidFormControl(newGenreFormName)">
        <div class="input-base__message"
          *ngIf="newGenreFormName.errors.required"> name is required </div>
      </ng-container>
      <input class="input-base__input" type="text" formControlName="name" />
    </label>
    <button class="button form__row"
      [class.button_disabled]="newGenreForm.invalid"
      [class.button_primary]="newGenreForm.valid" >create</button>
  </form>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
