<ng-container *ngIf="load; else preloader">
  <form class="form" [formGroup]="publisherForm" (ngSubmit)="updatePublisher()">

    <div class="form__title form__row">Publisher editor</div>

    <label class="input-base form__row"
      [class.input-base_invalid]="isInvalidFormControl(publisherFormName)">

      <div class="input-base__label input-base__label_required">Name</div>
      <ng-container *ngIf="isInvalidFormControl(publisherFormName)">
        <div class="input-base__message" *ngIf="publisherFormName.errors.required">
          name is required
        </div>
      </ng-container>
      <input class="input-base__input" type="text" formControlName="name" />

    </label>

    <button class="button form__row"
      [class.button_disabled]="publisherForm.invalid"
      [class.button_primary]="publisherForm.valid" >save</button>

  </form>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
