.games-slider {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.developers-slider {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.publishers-slider {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  width: 100%;
}
