<h2 class="title">games</h2>
<a class="editor-link" routerLink="/editor/games">gemaes editor</a>
<div class="games-slider">
  <div class="swiper-wrapper">
    <div class="game-item" *ngFor="let game of allGames">
      <div class="game-item__picture"></div>
      <div class="game-item__title">
        <a class="game-item__link"
           routerLink="/games/{{ game.gameId }}" >{{ game.name }}</a>
      </div>
      <ul class="game-item__genres">
        <li class="game-item__genre"
          *ngFor="let genre of game.gameXrefGenre">{{ genre.genre.name }}</li>
      </ul>
    </div>
  </div>
</div>

<h2 class="title">developers</h2>
<a class="editor-link" routerLink="/editor/developers">developers editor</a>
<div class="developers-slider">
  <div class="swiper-wrapper">
    <div class="developer-item" *ngFor="let developer of allDevelopers">
      <a class="developer-item__link"
         routerLink="/developers/{{ developer.developerId }}" >{{ developer.name }}</a>
    </div>
  </div>
</div>

<h2 class="title">publishers</h2>
<a class="editor-link" routerLink="/editor/publishers">publishers editor</a>
<div class="publishers-slider">
  <div class="swiper-wrapper">
    <div class="publisher-item" *ngFor="let publisher of allPublishers">
      <a class="publisher-item__link"
         routerLink="/publishers/{{ publisher.publisherId }}" >{{ publisher.name }}</a>
    </div>
  </div>
</div>
