<ng-container *ngIf="load; else preloader">
  <h2 class="title">games</h2>
  <a class="text-button text-button_primary" routerLink="/editor/games">games editor</a>
  <div class="games-slider swiper-container slider-items">
    <div class="swiper-wrapper slider-items__wrapper">
      <app-game-item class="slider-items__item slider-items__spacer swiper-slide"
        [game]="game" *ngFor="let game of allGames"></app-game-item>
    </div>
  </div>

  <h2 class="title">developers</h2>
  <a class="text-button text-button_primary" routerLink="/editor/developers">developers editor</a>
  <div class="developers-slider slider-items swiper-container">
    <div class="swiper-wrapper slider-items__wrapper">
      <div class="slider-items__spacer swiper-slide" *ngFor="let developer of allDevelopers">
        <div class="item-base">
          <div class="item-base__title"> {{ developer.name }} </div>
          <a class="text-button text-button_primary"
             routerLink="/developers/{{ developer.developerId }}" >more</a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="title">publishers</h2>
  <a class="text-button text-button_primary" routerLink="/editor/publishers">publishers editor</a>
  <div class="publishers-slider slider-items swiper-container">
    <div class="swiper-wrapper slider-items__wrapper">
      <div class="slider-items__spacer swiper-slide" *ngFor="let publisher of allPublishers">
        <div class="item-base">
          <div class="item-base__title"> {{ publisher.name }} </div>
          <a class="text-button text-button_primary"
             routerLink="/publishers/{{ publisher.publisherId }}" >more</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">loading ...</div>
</ng-template>
